html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	color: WhiteSmoke;
	font-size: 24px;
	font-family: "Twinkle Star", Calibri, sans-serif;
}

section {
	max-width: max(50vw, 600px);
	margin: 0 auto;
	padding: 1rem 3rem;
}