body{
    font-family: Calibri, sans-serif;
    margin: 0;
}

#container{
    width: 100%;
    min-height: 1000px;
    background-color: rgb(255,255,255);
	background-image: linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-image: -webkit-linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-image: -moz-linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-position: center;
	background-size: auto 50px, auto;
	background-repeat: repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* ----- Header ----- */

header{
    width: 100%;
    height: 250px;
    background-color: rgb(255,178,211);
	background-image: url("../images/CSS.3.svg"), linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-image: url("../images/CSS.3.svg"), -webkit-linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-image: url("../images/CSS.3.svg"), -moz-linear-gradient(to right, rgb(207,100,154), rgb(255,178,211), white, rgb(255,178,211), rgb(207,100,154));
	background-position: center;
	background-size: auto 200px, auto;
	background-repeat: no-repeat;
    left: 0;
}

/* ----- Menu ----- */

nav{
    width: 100%;
    height: 100px;
	background-color: rgb(207,100,154);
	background-image: linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
	background-image: -webkit-linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
	background-image: -moz-linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
	border-top: 5px solid rgb(122,3,25);
	border-bottom: 5px solid rgb(122,3,25);
	margin: 0 auto;
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul{
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
	margin: 0 5%;
}

nav ul li{
	width: 15%;
	height: 65px;
	background-color: rgba(255,178,211,0.8);
    line-height: 55px;
    text-align: center;
	border: 5px solid rgb(122,3,25);
	border-radius: 10px;
	margin: auto;
    flex: 0 0 auto;
	box-sizing: border-box;
}

nav ul li:hover{
	background-color: rgb(255,178,211);
	border: none;
	line-height: 65px;
}

nav ul li:active{
	background-color: rgb(122,3,25);
}

nav ul li:active a{
	color: #fff;
}

nav>ul>li>a{
    height: auto;
    font-size: 30px;
	font-weight: bold;
    padding: 0 20px;
}

nav ul li a{
    color: rgb(122,3,25);
    text-decoration: none;
    display: block;
}

/* ----- Main ----- */

main{
    width: 70%;
    min-height: 1000px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
	background-image: -webkit-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(to right, rgba(255,255,255,0), rgba(255,0,255,0.8), rgba(255,255,255,0));
    margin: 0 auto;
	padding: 50px;
    display: grid;
    grid-gap: 50px;
	grid-template-columns: auto auto auto;
}

main>div{
	width: 100%;
	height: 100%;
	background-color: rgba(122,3,25,0.8);
	border: 10px solid rgb(122,3,25);
	border-radius: 10px;
	box-sizing: border-box;
}

main>div:first-of-type{
	background-image: linear-gradient(red, yellow);
	background-image: -webkit-linear-gradient(red, yellow);
	background-image: -moz-linear-gradient(red, yellow);
}

main>div:nth-of-type(2){
	background-image: linear-gradient(purple, mediumseagreen);
	background-image: -webkit-linear-gradient(purple, mediumseagreen);
	background-image: -moz-linear-gradient(purple, mediumseagreen);
}

main>div:nth-of-type(3){
	background-image: linear-gradient(dodgerblue, crimson);
	background-image: -webkit-linear-gradient(dodgerblue, crimson);
	background-image: -moz-linear-gradient(dodgerblue, crimson);
}

main>div:nth-of-type(4){
	background: none;
	background-image: url("https://cdn.myanimelist.net/s/common/uploaded_files/1448416762-c4fea080c937bdde8ac476e4bfa76efe.png"), url("https://atlantis.nyc3.digitaloceanspaces.com/styled/1bec9ec74aac91e70b3ef91fee1fc0f9");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top, bottom;
	background-blend-mode: darken;
}

main>div:nth-of-type(5){
	background: none;
	background-image: url("https://cdn.myanimelist.net/s/common/uploaded_files/1448417480-7811773ee2adea67172c080868d9d33a.png"), url("https://cdn.abcotvs.com/dip/images/24996_kgo-windows-bliss-040714-1280.jpg?w=1280&r=16%3A9");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top, bottom;
	background-blend-mode: overlay;
}

main>div:nth-of-type(6){
	background: none;
	background-image: url("https://cdn.myanimelist.net/s/common/uploaded_files/1448417849-8251d755f2ca114b778e6ca9685ed1d2.png"), url("https://www.theuiaa.org/wp-content/uploads/2017/12/2018_banner.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top, bottom;
	background-blend-mode: lighten;
}

main>div:nth-of-type(7){
	border-top-color: blue;
	border-right-color: mediumseagreen;
	border-bottom-color: red;
	border-left-color: yellow;
	border-top-style: double;
	border-right-style: dashed;
	border-bottom-style: dotted;
	border-left-style: groove;
}

main>div:nth-of-type(8){
	border-top-color: orange;
	border-right-color: violet;
	border-bottom-color: tomato;
	border-left-color: aqua;
	border-top-style: ridge;
	border-right-style: dotted;
	border-bottom-style: double;
	border-left-style: dashed;
}

main>div:nth-of-type(9){
	border-top-color: chartreuse;
	border-right-color: darkcyan;
	border-bottom-color: gold;
	border-left-color: deeppink;
	border-top-style: groove;
	border-right-style: double;
	border-bottom-style: ridge;
	border-left-style: dotted;
}

/* ----- Footer ----- */

footer{
    width: 100%;
    height: 160px;
    border-top: 5px solid rgb(122,3,25);
	border-bottom: 5px solid rgb(122,3,25);
	background-image: linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
	background-image: -webkit-linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
	background-image: -moz-linear-gradient(to right, rgb(122,3,25), rgb(207,100,154), rgb(255,178,211), rgb(207,100,154), rgb(122,3,25));
    bottom: 0;
	padding-right: 20px;
	box-sizing: border-box;
}

footer>ul{
	width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

footer ul li{
	width: 80px;
	height: 80px;
	background-color: rgba(255,178,211,0.8);
	line-height: 93px;
    text-align: center;
	border: 3px solid rgb(122,3,25);
	border-radius: 50%;
	margin-top: 40px;
	margin-right: 20px; 
	flex: 0 0 auto;
	box-sizing: border-box;
}

footer ul li:hover{
	background-color: rgb(255,178,211);
	border: none;
	line-height: 100px;
}

.fab{
	color: rgb(122,3,25);
	font-size: 40px;
}